

body {
  text-align:center;
  background-color: #0B0C10;
  color:white;
  font-family: 'FORCED SQUARE', '';
    font-style: normal;
    font-weight: 500;
  font-weight:500;
  font-family: 'FoughtKnight';
    font-weight: normal;
    font-style: normal;
  font-size:5em;

  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}


.preloaderimg{
  animation: rotate 7s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.name {
  position: absolute;

  font-size: 10em;
  top: 40%;
  width:0px;
  transform: translate(120%);
  animation: reveal 7s infinite;
}


@keyframes rotate{

    from {
      transform: translate(-50%, -50%)  rotate(0deg);
    }
    to {
      transform:translate(-150%, -50%)   rotate(359deg);
    }

}
.name span {
  position: absolute;

  /* font-size: 3em; */
  /* right: 341px; */
  /* transform: translate(250%,400%); */
  /* margin-left:-355px; */
  animation: slidein 7s infinite;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-5em; opacity: 0  }
    20% { margin-left:-5em; opacity: 0.25 ;}
    35% { margin-left:-10em; opacity: 0.5;}
    100% { margin-left:-10em; opacity: 1;}

}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
