

body {
  text-align:center;
  background-color: #0B0C10;
  color:white;
  font-family: 'FORCED SQUARE', '';
    font-style: normal;
    font-weight: 500;
  font-weight:500;
  font-family: 'FoughtKnight';
    font-weight: normal;
    font-style: normal;
  font-size:5em;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.preloaderimg{
  animation: rotate 7s infinite;
}

div:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

div:last-of-type span {
  margin-left:-355px;
  
  animation: slidein 7s infinite;
}
@keyframes rotate{
  
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}




@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }

}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


p {
  font-size:12px;
  color:#999;
  margin-top:200px;
}